<!-- Description -->
        <section>
            <div class='row'>
                <div class='offset-by-three six columns' id='description'>
                    <header>
                        <h2>Description</h2>
                    </header>
                    <p>
                        This is a page to be build while focusing on Phase 0 of EDA's web developper bootcamp.
                    </p>
                </div>
            </div>
        </section>