<!-- Desktop Title -->
        <section>
            <header>
                <div class='container-fluid' id='desktop-title'>
                    <div class='row'>
                        <div class='twelve columns main-title'>
                            <h1>Marie Nguyen Phu Qui's Website</h1>
                        </div>
                    </div>
                </div>
            </header>
        </section>