<!-- Home button -->
    <section>
      <div class='row'>
        <div class='button-primary twelve columns'>
          <button class='home-button'>
              <a href="../index.html">Home</a>
          </button>
        </div>
      </div>
    </section>