<!-- Main title Mobile first -->

        <section>
            <header>
                <div class='container-fluid' id='mobile-title'>
                    <div class='row'>
                        <div class='eight columns'>
                            <h1>Marie Nguyen Phu Qui's Website</h1>
                        </div>
                        <div class='two columns u-pull-right'>
                            <h2><a href='https://github.com/marie-phu-qui'>Github</a></h2>
                        </div>
                    </div>
                </div>
            </header>
        </section>