{{!-- quick view of last article --}}
    <section>
      <div class='subtitle twelve columns'>
          <h2>subtitle</h2>
      </div>
      <div class='twelve columns'>
          <p>
          text
          </p>
      </div>
    </section>