<body>
  <div class='container-fluid'>

    <section>
      <div class='title'>
        <h1>title</h1>
      </div>
    </section>

    <hr>
<!-- Content -->
    <section>
      <div class='subtitle twelve columns'>
        <h2>subtitle</h2>
      </div>
      <div class='twelve columns'>
        <p>
          text
        </p>
      </div>
    </section>

    <section>
      <div class='subtitle twelve columns'>
        <h2>subtitle</h2>
      </div>
      <div class='twelve columns'>
        <p>
          text
        </p>
      </div>
    </section>

    <section>
      <div class='subtitle twelve columns'>
          <h2>subtitle</h2>
      </div>
      <div class='twelve columns'>
          <p>
          text
          </p>
      </div>
    </section>

    <section>
      <div class='subtitle twelve columns'>
          <h2>subtitle</h2>
      </div>
      <div class='twelve columns'>
          <p>
          text
          </p>
      </div>
    </section>

{{>home-button}}