<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="blog-javascript-language" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Javascript Language</title>

<!-- CSS link -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css'>
  <link rel='stylesheet' href='../styles/main.css'>

<!-- Fonts -->
  <link  href="https://fonts.googleapis.com/css?family=Anton|Mukta+Malar|Montserrat" rel="stylesheet">
</head>


<body>
  <div class='container-fluid'>

    <section>
      <div class='title'>
        <h1>Javascript Language to my non tech friend<br>Describe the use of :</h1>
      </div>
    </section>

    <hr>
<!-- Content -->
    <section>
      <div class='subtitle twelve columns'>
        <h2>Parentheses ()</h2>
      </div>
      <div class='twelve columns'>
        <p>
          The parenthesis are used a lot. They can follow a function (empty or not), they contain the conditions of if, for and while. <br>
          When folloing a function, they help targetting the subject on which the function will take action. <br>
          On other situations, they will help structure the content of the code, in a very similar way to mathematics. 
        </p>
      </div>
    </section>

    <section>
      <div class='subtitle twelve columns'>
        <h2>Brackets []</h2>
      </div>
      <div class='twelve columns'>
        <p>
          Brackets are used for declaration of arrays. The look of the punctionation used define the type of variable created. Defining an array over an object is favorable when we need to stock a list of values or strings.
        </p>
      </div>
    </section>

    <section>
      <div class='subtitle twelve columns'>
          <h2>Curly Braces {}</h2>
      </div>
      <div class='twelve columns'>
          <p>
          Curly braces are used in Javascript for two different purpose. They are surrounding the content of a function, if, for and while statement and they define an object. <br>
          The first use of curly brace is looking more like actual puntuation to me. They are used to structure the different conditions and give them some scope (so they don't get mixed into another). They make the content cleaner and more readable by both human and machine. <br>
          When curly braces are used for object definition, it ressembles more to a grammatical convention. Objects are declared with curly braces (may they be empty or with content),so that is what should be used in this scenario. Defining an object is different to an array as an object will contain both properties and their respectives values.
          </p>
      </div>
    </section>

    <section>
      <div class='subtitle twelve columns'>
          <h2>Single quotes '' and Double quotes ""</h2>
      </div>
      <div class='twelve columns'>
          <p>
            Single quotes and double quotes seems to act as the same to me, without being interchangeable (you can't expect to start a statement with a single quote and end it with a double quote). <br>
            They are used in string declaration. Therefore, a choice has to be made for the one that will be needed the least in the language used in the string content. <br>
            It seems to be that javascript user are mostly using double quote to declare strings. I personnaly have been using single quotes out of ease (only have to use one finger to type it on the keyboard - but noticing that the norm seems to tend to go towards double quotes, I will match it).
          </p>
      </div>
    </section>
  

<!-- Home button -->
    <section>
      <div class='row'>
        <div class='button-primary twelve columns'>
          <button class='home-button'>
              <a href="../index.html">Home</a>
          </button>
        </div>
      </div>
    </section>
      
    <hr>

<!-- Footer -->
    <section>
        <div class='footer'>
            <div class='row'>
                <div class='offset-by-five two columns'>
                    <p>Not a finished work</p>
                </div>
            </div>
        </div>
    </section>


  </div>

</body>
</html>