<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="blog-scope" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scope</title>

<!-- CSS link -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css'>
  <link rel='stylesheet' href='../styles/main.css'>

<!-- Fonts -->
  <link  href="https://fonts.googleapis.com/css?family=Anton|Mukta+Malar|Montserrat" rel="stylesheet">
</head>


<body>
  <div class='container-fluid'>

    <section>
      <div class='title'>
        <h1>What is a scope and how it works in JavaScript</h1>
      </div>
    </section>

    <hr>
<!-- Content -->
    <section>
      <div class='subtitle twelve columns'>
        <h2>The concept of scope</h2>
      </div>
      <div class='twelve columns'>
        <p>
          The scope is the area in which something can be recognized as what it is. The scope can be global or local. If global the object will be defined and recognized as the same value for the whole file; If local it will have to be redeclared every time we need it again outside its scope - Otherwise it will be "Undefined".
        </p>
      </div>
    </section>

    <section>
      <div class='subtitle twelve columns'>
        <h2>In the Javascript language</h2>
      </div>
      <div class='twelve columns'>
        <p>
            The scope takes action on all Javascript objects. Function define a scope. Variables declared with the term "let" will be regnonizable on the local scope, and the ones declared under "const" will be declared on the global one. <br>
            A local scope will be defined by an open curly bracket and will stop and the corresponding closing curly braket.
        </p>
      </div>
    </section>
  

<!-- Home button -->
    <section>
      <div class='row'>
        <div class='button-primary twelve columns'>
          <button class='home-button'>
              <a href="../index.html">Home</a>
          </button>
        </div>
      </div>
    </section>
      
    <hr>

<!-- Footer -->
    <section>
        <div class='footer'>
            <div class='row'>
                <div class='offset-by-five two columns'>
                    <p>Not a finished work</p>
                </div>
            </div>
        </div>
    </section>


  </div>

</body>
</html>