/*all browsers*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
/*Broad values*/
body {
    background: rgb(241, 241, 241);
    font-family: "Mukta Malar", sans-serif;
    margin: 8px;
    border: 3px solid goldenrod;
    padding: 40px 20px 20px 20px;
    line-height: 24px;
}

#mobile-title {
    font-size: 20px;
    font-weight: 900;
}

h1, h2, h3{
    color:#000000;
    text-align: right;
}

ul {
    list-style-type: none;
  }
  
hr {
    height: 5px;
}

.footer {
    text-align: center;
}

button.home-button {
    background-color: goldenrod;
    color: #cccccc;
    font-family: "Mukta Malar", sans-serif;
    font-size: 28px;
    letter-spacing: 0.2em;
    text-align: center;
}


/*Index page*/

#description, h2{
    text-align: center;
}


#desktop-title{
    display: none;
}

/*Navigation index*/
.desktop-navbar{
    display: none;
}
.mobile-navbar{
    display: inline-block;
}

nav.primary ul, nav.primary ul li {
    margin: 0px;
}

nav.primary ul li {
    display: inline;
    position: relative;
}

nav.primary ul li a{
    font-family: "Mukta Malar", sans-serif;
    display: inline-block;
    line-height: 48px;
    color: goldenrod;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.2em;
    padding: 8px 24px 8px 24px;
}

nav.primary ul li a:hover{
    color: #cccccc;
    background: goldenrod;
    cursor: pointer;
}

nav.primary ul li:hover >a{
    color: #cccccc;
    background: goldenrod;
}

/* sub menu nav bar */
nav.primary ul ul {
/* fades in upon hovering */
    opacity: 0;
    filter: alpha(opacity(0));
    transition: all 0.8s ease;

    position: absolute;
    z-index:999;
    background: #F7EDD2;
    color: #cccccc;
    min-width: 100%;
/*hides the menu from reader but not from SEO*/
    height:0px;
    overflow: hidden;
}

nav.primary ul li:hover ul {
    opacity: 10;
    filter: alpha(opacity(100));
    height: auto;
    overflow: auto;
}

nav.primary ul ul li {
    float: none;
    display: inherit;
    border-bottom: 1px solid #dbdbdb;  
}

nav.primary ul ul li a {
    display: block;
    line-height: 24px;
    text-transform: none;
    white-space: nowrap;
}

/* Blog page Mobile */
.title{
    text-align:left;

}

.subtitle{
    text-align: left;
}


/*Desktop sized screen*/

/*Index page*/
@media (min-width: 550px) {

/*Navigation index*/
    .mobile-navbar{
        display:none;
    }
    .desktop-navbar{
        display: inline-block;
    }

    #mobile-title {
        display: none;
    }

    #desktop-title {
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-weight: 900;
        letter-spacing: 0.5rem;
        text-align: right;
    }

    nav.primary ul, nav.primary ul li {
        margin: 0px;
    }

    nav.primary ul li {
        display: inline;
        position: relative;
    }

    nav.primary ul li a{
        font-family: "Mukta Malar", sans-serif;
        display: inline-block;
        line-height: 48px;
        color: goldenrod;
        text-transform: uppercase;
        font-weight: 200;
        letter-spacing: 0.2em;
        padding: 8px 24px 8px 24px;
    }

    nav.primary ul li a:hover{
        color: #cccccc;
        background: goldenrod;
        cursor: pointer;
    }

    nav.primary ul li:hover >a{
        color: #cccccc;
        background: goldenrod;
    }

    /* sub menu nav bar */
    nav.primary ul ul {
    /* fades in upon hovering */
        opacity: 0;
        filter: alpha(opacity(0));
        transition: all 1.8s ease;

        position: absolute;
        z-index:999;
        background: #F7EDD2;
        color: #cccccc;
        min-width: 100%;
    /*hides the menu from reader but not from SEO*/
        height:0px;
        overflow: hidden;
    }

    nav.primary ul li:hover ul {
        opacity: 10;
        filter: alpha(opacity(100));
        height: auto;
        overflow: auto;
    }

    nav.primary ul ul li {
        float: none;
        display: inherit;
        border-bottom: 1px solid #dbdbdb;  
    }

    nav.primary ul ul li a {
        display: block;
        line-height: 24px;
        text-transform: none;
        white-space: nowrap;
    }

/* Blog page Mobile */
    .title{
        text-align:right;

    }

    .subtitle{
        text-align: right;
    }
}