/*all browsers*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
/*Broad values*/
body {
    background: rgb(241, 241, 241);
    font-family: "Mukta Malar", sans-serif;
    margin: 8px;
    border: 3px solid goldenrod;
    padding: 40px 20px 20px 20px;
    line-height: 24px;
}

hr {
    height: 5px;
}

.footer {
    text-align: center;
}

/*Index page*/

#main-title {
    font-family: Montserrat, sans-serif;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
}

#description{
    text-align: center;
}

/*Navigation index*/
nav.primary ul, nav.primary ul li {
    margin: 0px;
}

nav.primary ul li {
    display: inline;
    position: relative;
}

nav.primary ul li a{
    font-family: "Mukta Malar", sans-serif;
    display: inline-block;
    line-height: 48px;
    color: goldenrod;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.2em;
    padding: 8px;
}

nav.primary ul li a:hover{
    background: #cccccc;
    cursor: pointer;
}

/* sub menu nav bar */
nav.primary ul ul {
/* fades in upon hovering */
    opacity: 0;
    filter: alpha(opacity(0));
    transition: all 1.8s ease;

    position: absolute;
    z-index:999;
    background: #F7EDD2;
    color: #cccccc;
    min-width: 100%;
/*hides the menu from reader but not from SEO*/
    height:0px;
    overflow: hidden;
}

nav.primary ul li:hover ul {
    opacity: 10;
    filter: alpha(opacity(100));
    height: auto;
    overflow: auto;
}

nav.primary ul ul li {
    float: none;
    display: inherit;
    border-bottom: 1px solid #dbdbdb;  
}

nav.primary ul ul li a {
    display: block;
    line-height: 24px;
    text-transform: none;
}

/*Desktop sized screen*/
/*Index page*/
@media (min-width :300px){
    #main-title {
        width : 100%;

    }
    .navbar {
        padding-left: 5px;
    }
}