body {
    background: rgb(241, 241, 241);
    font-family: serif;
    margin:30px;
    border: 3px solid goldenrod;
    padding: 20px;
}

h1, h2, h3{
    color:#000000;
    text-align: right;
}

.title {
    font-weight: 400;
}

.subtitle {
    font-style: italic;
}

a {
    color: goldenrod;
}

.button {
    color: goldenrod;
}

p {
    color: grey;
    padding: 5px 10px;
}

li {
    color: black;
    font-size: 20px;
}

#margin {
    background: rgb(241, 241, 241);
    padding: 45px;
    width: 75%;
    position: relative;
    border: 2px solid grey;
}

#border {
    background: goldenrod;
    padding: 45px;
    width: 100%;
    position: relative;
}

#padding {  
    background: rgb(241, 241, 241);  
    padding: 45px;
    width: 100%;
    height: 100%;
    position: relative;
}

#content {
    color: grey;
    padding: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    background: rgb(241, 241, 241);
    border: 2px solid #grey;
}
